
    .center {
        text-align: center;
    }
    .linktext1 {
        background: #29626D 0% 0% no-repeat padding-box;
        border: 1px solid #0c0b0b80;
        border-radius: 20px;
        opacity: 1px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .FFTR {
        background-color: black;
        width: 100%;
        height: auto;
    }

    .II1 {
        padding-top: 30px;
        margin-left: 75%;
        display: flex;
    }

    .UU1 {
        word-spacing: 20px;
        padding-bottom: 20px;
        margin-left: 40%;
        max-width: 800px;
        width: 100%;
        display: flex;
    }
    p.few
    {
        padding: 10px;
    }