.hdr1 {
    /* flex-wrap: wrap; */
    /* display: flex; */
    width: 100%;
    /* height: 100%; */
    /* padding: 10px; */
    /* background-color: black; */
}

.head {
    justify-content:space-between;
    align-items: center;
    /* padding: 10px; */
    background-color:#1FB6FF;
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
}

.w3-sidebarnew {
    height: 100%;
    background-color: #fff;
    z-index: 1;
    overflow: auto;
}

img.logo {
    /* width: 100%; */
    padding: 10px;
    max-width: 100px;
}

.leftblock {
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    /* word-spacing: 50px; */
    /* margin-top: -70px; */
    /* margin-left: 79%; */
    /* padding-left: 620px; */
    width: 20%;
    max-width: 250px;
    /* height: 40px; */
    /* opacity: 1; */
    /* justify-items: flex-end; */
}

.pargaraph {
    margin: 10px;
    color: #E4EBF0;
    text-decoration: none;
}

.login {
    margin: 10px;
    /* top: 43px; */
    /* left: 1210px; */
    /* width: auto; */
    /* height: auto; */
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    padding: 5px;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    color: #E4EBF0;
    opacity: 1;
}
.getournews {
    padding: 10px;
}
.news {
    padding: 10px;
    /* margin-top: 0px; */
    text-align: center;
}

.info {
    padding: 10px;
    flex-flow: wrap;
    margin: 0px;
    justify-content: space-between;
    /* margin-top: auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
}
.yoreml {
    padding: 10px;
}
.upbuttn {
    background: #525252 0% 0% no-repeat padding-box;
    /* opacity: 1; */
    border: 0px solid;
    border-radius: 100%;
    margin: 10px;
    padding: 10px;
    /* border-radius: 0px; */
    /* background-color: black; */
    /* border-radius: 100%; */
}
h2.getnewhed {
    color: #4F4F4F;
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: 10px;
}
button.pnklogo {
    background-color: transparent;
    /* padding: 10px; */
    border: 0px;
    padding: 10px;
    margin: 10px;
}

.rect {
    padding: 10px;
    min-width: 20px;
    width: 50%;
    max-width: 230px;
    border: 1px solid #565656;
    border-radius: 20px;
    margin: 10px;
}

.rect2 {
    margin: 10px;
    min-width: 20px;
    /* margin: 10px; */
    color: white;
    border: 0px;
    padding: 10px 20px 10px 20px;
    /* margin-top: 0px; */
    /* margin-left: 25px; */
    /* padding-left: 0px; */
    /* padding-right: 10px; */
    /* top: 3365px; */
    /* left: 858px; */
    /* width: 88px; */
    /* background: #FF7B6D 0% 0% no-repeat padding-box; */
    /* border-radius: 20px; */
    /* opacity: 1; */
    /* height: 40px; */
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    max-width: 150px;
}

footer.helpfooter {
    /* padding: 10px; */
    background-color: black;
}


.Rectangle-12 {
    padding: 10px;
    /* width: 1560px; */
    /* height: 195px; */
    /* margin: 53px 0 0; */
    /* padding: 27px 0 0; */
    /* background-color: #111; */
    padding-left: 40px;
    padding-right: 40px;
}

.ftrnav {
    /* padding: 10px; */
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    justify-content: center;
    justify-content: space-evenly;
}

.smalllogo {
    padding: 2px;
    /* width: 106px; */
    /* height: 78px; */
    /* margin: 0 262px 26px 122px; */
    /* object-fit: contain; */
}

.homeabout {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    /* max-block-size: fit-content; */
    /* max-width: 50px; */
    /* flex-wrap: wrap; */
    /* display: contents; */
    /* align-items: center; */
    /* padding: 5px; */
    justify-content: space-evenly;
    /* display: flex; */
    /* color: white; */
    /* display: contents; */
    /* justify-content: space-between; */
    padding: 10px;
}

.social {
    /* background: #CCCCCC 0% 0% no-repeat padding-box; */
    /* padding: 10px; */
    margin: 10px;
    /* justify-content: space-between; */
    /* display: flex; */
    flex-wrap: wrap;
}

.homeabout a {
    padding: 10px;
    text-decoration: none;
    color: white;
    /* size: a4; */
    font-size: x-small;
}

.social img {
    padding: 5px;
    margin: 5px;
}

.privicy {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #292929;
    justify-content: space-around;
}

p.privicypolicy {
    margin: 0px;
    color: #F1F1F1;
    text-align: center;
}

button.ok {
    width: 70px;
    padding: 10px;
    background-color: yellow;
    border-radius: 15px;
    border: 0px;
}

.dwn {
    padding: 10px;
    text-align: center;
}

.hembg {
    display: none;
}

.nevdata {
    display: none;
}
button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 20px 0 12px 0;
position: relative;
}
.avatar {
width: 70%;
height: 40%;
border-radius: 100%;
max-width: 150px;
max-height: 150px;
padding: 10px;
margin: 10px;
object-fit: cover;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 70px;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}
.rightnev
{ 
    position: relative;
    width: max-content;
    text-align-last: center;
    background-color: #1FB6FF;
    height: auto;
}
.rightnev a
{
    background-color: #1FB6FF;;
}
.navfix
{
    position: absolute;
    text-align: center;
}
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}
.footer {
    padding: 10px;
}
p.foot {
    color: #A2A6A8;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}
@media (max-width:930px)
{
    li.w3-bar-item.w3-button {
        text-align: center;
        padding: 10px;
        border-bottom: ridge;
    }
    .leftblock {
        display: none;
    }

    .hembg {
        display: block;
        position: absolute;
        right: 0px;
        padding: 5px;
        margin: 10px;
    }
    .hembg button {
        color: black;
        background-color: white;
        border-radius: 20%;
    }

    .nevdata 
    {
        -webkit-text-stroke-width: thin;
        display: block;
        right: 0px;
    }

    .nevdata a {
        bottom: 1px solid black;
    }

    .POSTCOD {
        display: block;
    }
    span.psw {
    display: block;
    float: none;
             }
    .cancelbtn {
      width: 100%;
                }
}