.color {
    color: white;
  }

  .center {
    text-align: center;
  }

  .body {
    height: auto;
    width: 100%;
    place-items: auto;
  }

  .first1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background: #525252 0% 0% no-repeat padding-box;
    opacity: 0.8;
  }

  .layoutt {
    position: absolute;
    top: 6px;
    left: 15px;
    width: 100%;
    height: 60px;
    opacity: 1;
  }

  .logo1 {
    position: absolute;
    top: 6px;
    left: 15px;
    width: 73px;
    height: 54px;
    opacity: 1;
  }

  .linktext {
    color: #FFFFFF;
    letter-spacing: normal;
  }

  .booknow {
    position: absolute;
    top: 12px;
    left: 60%;
    width: auto;
    height: auto;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
  }

  .pricesservices {
    position: absolute;
    top: 12px;
    left: 65%;
    width: auto;
    height: auto;
    opacity: 1;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
  }

  .warrent {
    position: absolute;
    top: 12px;
    left: 70%;
    width: auto;
    height: auto;
    color: #FFFFFF;
    opacity: 1;
  }

  .blog {
    position: absolute;
    top: 12px;
    left: 75%;
    width: auto;
    height: auto;
    color: #FFFFFF;
    opacity: 1;
  }

  .contect {
    position: absolute;
    top: 12px;
    left: 80%;
    width: auto;
    height: 20px;
    color: #FFFFFF;
    opacity: 1;
  }

  .becomehelper {
    position: absolute;
    top: 12px;
    left: 90%;
    width: auto;
    height: auto;
    background: #29626D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
  }
  .message
  {
    max-width: fit-content;
    width:50%;
    height: 200px;
  }
  .image {
    width: 100%;
    height: auto;
    opacity: 1;
  }

  .cont {
    padding: 10px;
    margin: 10px;
  }

  .extraimage {
    /* position: relative; */
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    /* width: 300px; */
    /* justify-content: space-between; */
    /* height: 500px; */
    /* top: 1140px; */
    /* left: 226px; */
    /* align-items: center; */
  }

  .imagdivv {
    text-align: center;
    padding: 10px;
  }

  .imageextraserv {
    padding: 10px;
    margin: 10px;
    /* padding-top: 50px; */
    /* width: 100%; */
    /* height: 100%; */
    /* opacity: 1; */
  }


  select.suject {
    width: 50%;
    max-width: 345px;
    min-width: 210px;
    /* box-sizing: border-box; */
    /* box-sizing: border-box; */
    padding: 1px;
  }

  .pricestar {
    padding: 10px;
  }

  .gettouch {
    padding: 10px;
  }

  .bootn {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    background: #f32c57 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 20px;
    opacity: 1;
    color: white;
  }
  .DD1 {
    width: 100%;
    display: flex;
  }

  .FFTR {
    background-color: black;
    width: 100%;
    height: auto;
  }

  .UU1 {
    word-spacing: 20px;
    padding-bottom: 20px;
    margin-left: 40%;
    max-width: 800px;
    width: 100%;
    display: flex;
  }

  .II1 {
    padding-top: 30px;
    margin-left: 75%;
    display: flex;
  }
  .map {
    padding: 10px;
    height: 300px;
    padding: 10px;
    width: -webkit-fill-available;
  }
  .map iframe
  {
    padding: 10pxs;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
   }